{% extends 'base.html' %}

{% load static %}

{% block title %}
    {{ object.full_name }}
{% endblock title %}


{% block content %}
{% include 'includes/header.html' %}

<!-- añadimos un texto al final del titulo con {{ titulo }} -->
<!-- <h1>Detalle de un empleado {{ titulo }}</h1>-->
<!-- recuperamos los reg. con 'object' o con el nombre del modelo 'empleado'-->
<!-- {{ object }} es el contexto que manda por defecto el detailView-->

<div class="grid-container">
    <div class="grid-x grid-margin-x align-center">
        <div class="cell large-4 card" style="width: 300px; margin-top: 10px;">
            <div class="card-divider">
                <!-- nos recupera el siguiente valor del diccionario de atributo choice -->
              {{ empleado.get_job_display }}
            </div>
            
            {% if empleado.avatar %}
                <img src="{{ empleado.avatar.url }}">
            {% else %}
                <img src="{% static 'img/car.webp' %}">
            {% endif %}
            <div class="card-section">
                <h6>{{ empleado.full_name }}</h6>
                <p>{{ empleado.last_name }}</p>
                <p>{{ empleado.departamento.shor_name }}</p>
                <p><span class="label">Habilidades</span></p>
                <ul class="vertical menu">
                    {% for h in empleado.habilidades.all %}
                        <li>{{ h.habilidad }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
    
{% endblock content %}
